body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70px 75%;
    padding: 10px;
    row-gap: 10px;
    justify-self: center;
}

#title {
    grid-column: 1/ span 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#start {
    grid-row: 1;
    grid-column: 1/span 2;
    width: 10%;
    justify-self: end;
    align-self: center;
}

.container {
    width: 70%;
    grid-column: 3;
    grid-row: 2;
}

.chatBox {
    border: 2px solid rgb(0, 0, 0);
    height: 300px;
    padding-left: 5px;
    overflow: auto;
}

#canvas {
    grid-column: 1/ span 2;
    grid-row: 2;
    justify-self: center;
}

#chatInputMsg {
    width: 65%;
}

#chatHeader {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

button {
    height: 28px;
    margin: 10px;
    text-align: center;
}

p {
    overflow-wrap: break-word;
}

