body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 25px 75%;
    padding: 10px;
}

#title {
    grid-column: 1/ span 2;
    grid-row: 1;
}

.container {
    width: 70%;
    grid-column: 2;
    grid-row: 2;
    border: 2px solid rgb(240, 227, 227);
    height: 300px;
    padding-left: 5px;
    overflow: auto;
}

#canvas {
    grid-column: 1;
    grid-row: 2;
}

#chatuserName {
    width: 20%;
}

#chatInputMsg {
    width: 65%;
}

#chatHeader {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

button {
    height: 28px;
    margin: 10px;
}

p {
    overflow-wrap: break-word;
}

